<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testRunner.TestRunnerKiwiSaverCalculator"/>
    </classes>
  </test> <!-- Test -->
  
  <test name = "testdata">
	<parameter name="CurrentAge" value="currentAge"/>
	<parameter name="EmploymentStatus" value="employmentStatus"/>
	<parameter name="SalaryBeforeTax" value="ealaryBeforeTax"/>
	<parameter name="KiwiSaverMemContri" value="kiwiSaverMemContri"/>
	<parameter name="PIRRate" value="pIRRate"/>
	<parameter name="CurrentKiwiSaverBalance" value="currentKiwiSaverBalance"/>
	<parameter name="VoluntaryContributions" value="voluntaryContributions"/>
	<parameter name="Frequency" value="frequency"/>
	<parameter name="RirkProfile" value="rirkProfile"/>
	<parameter name="SavingsGoalAtRetirent" value="savingsGoalAtRetirent"/>
      <classes>
         <class name = "KiwiSaverRetirementCalculator" />
      </classes>
   </test>
  
</suite> <!-- Suite -->
